<div
  class="featured-blog featured-blog--{{ section.id }}"
  data-section-id="{{ section.id }}"
  data-section-type="featured-blog"
>
  <div class="wrapper">
    {%- assign blog = blogs[section.settings.blog] -%}

    {% case section.settings.post_limit %}
      {% when 3 %}
        {%- assign width = 'small--one-whole medium--one-half' -%}
      {% when 2 %}
        {%- assign width = 'small--one-whole medium--one-half large--one-half' -%}
      {% when 1 %}
        {% if section.settings.blog_show_image %}
          {%- assign width = 'small--one-whole medium--one-half large--one-half' -%}
        {% else %}
          {%- assign width = 'text-center large--four-fifths push--large--one-tenth' -%}
        {% endif %}
      {% else %}
        {%- assign width = 'small--one-whole medium--one-half' -%}
    {% endcase %}

    {% if section.settings.title != blank %}
      <div class="section-header text-center">
        <h2 class="h1 section-header__title">{{ section.settings.title | escape }}</h2>
        <hr class="hr--small">
      </div>
    {% endif %}

    {% unless blog.articles_count == 0 %}
      <div class="grid-uniform">
        <div class="swiper blog_swiper">
          <div class="swiper-wrapper">
            {% for article in blog.articles limit: section.settings.post_limit %}
              <div class="swiper-slide">
                <div class="grid__item grid_item_none">
                  <div class="featured-blog__post">
                    {% if section.settings.blog_show_image %}
                      {% unless article.image == blank %}
                        <a class="article__featured-image-link" href="{{ article.url }}">
                          <noscript>
                            {{ article.image | img_url: '1024x1024' | img_tag: article.title | escape }}
                          </noscript>
                          <div
                            class="article__featured-image-wrapper"
                            style="padding-top:{{ 1 | divided_by: article.image.aspect_ratio | times: 100}}%;"
                          >
                            {% assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}
                            <img
                              class="article__featured-image lazyload"
                              src="{{ article.image | img_url: '300x300' }}"
                              data-src="{{ img_url }}"
                              data-widths="[310, 360, 480, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                              data-aspectratio="{{ article.image.aspect_ratio }}"
                              data-sizes="auto"
                              alt="{{ article.title | escape }}"
                            >
                            <div class="image_mask"></div>
                          </div>
                        
                        </a>
                      {% endunless %}
                    {% endif %}
                    
                    {% unless section.settings.post_limit == 1 and section.settings.blog_show_image %}
                      {% include 'featured-blog', article: article %}
                    {% endunless %}
                  </div>
                </div>

                {% if section.settings.post_limit == 1 and section.settings.blog_show_image %}
                  <div class="grid__item {{ width }}">
                    <div class="featured-blog__post">
                      {% include 'featured-blog', article: article %}
                    </div>
                  </div>
                {% endif %}
              </div>
            {% endfor %}
          </div>
          <button id="btn-prev" class="btn-prev btn-svg">
            <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9.29425 17.7153C9.00136 18.0082 9.00136 18.483 9.29425 18.7759L14.0672 23.5489C14.3601 23.8418 14.835 23.8418 15.1279 23.5489C15.4208 23.256 15.4208 22.7811 15.1279 22.4882L10.8852 18.2456L15.1279 14.003C15.4208 13.7101 15.4208 13.2352 15.1279 12.9423C14.835 12.6494 14.3601 12.6494 14.0672 12.9423L9.29425 17.7153ZM9.82458 18.9956H26.6667V17.4956H9.82458V18.9956Z"></path>
              </svg>             
          </button>
          <button id="btn-next" class="btn-next btn-svg">
            <svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M26.7057 18.7759C26.9986 18.483 26.9986 18.0082 26.7057 17.7153L21.9327 12.9423C21.6398 12.6494 21.165 12.6494 20.8721 12.9423C20.5792 13.2352 20.5792 13.7101 20.8721 14.003L25.1147 18.2456L20.8721 22.4882C20.5792 22.7811 20.5792 23.256 20.8721 23.5489C21.165 23.8418 21.6398 23.8418 21.9327 23.5489L26.7057 18.7759ZM9.33325 18.9956H26.1754V17.4956H9.33325V18.9956Z"></path>
              </svg>                      
          </button>
        </div>
      </div>

    {% else %}
      {% include 'onboarding-featured-blog' %}
    {% endunless %}

    {% if blog == empty %}
      {% include 'onboarding-featured-blog' %}
    {% endif %}

    {% if section.settings.show_view_all %}
      <div class="section-header text-center">
        <a href="{{ blog.url }}" class="btn">
          {{ 'blogs.article.view_all' | t }}
        </a>
      </div>
    {% endif %}
  </div>
</div>
<style>
  .grid_item_none{
   float:none;
   padding:0;
  }
  .image_mask{
    position:absolute;
    left:0;
    top:0;
    width: 100%;
    height:100%;
    background: black;
    opacity: 0;
    border-radius:20px;
  }
  .btn-prev {
    position: absolute;
    left: 29.5%;
    top: 33%;
    z-index: 5;
  }
  .btn-svg svg{
    width: 18vw;
    height: 18vw;
    max-width: 60px;
    max-height: 60px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    fill: #f47e28;
    border: 1px solid #F0F0F0;
    border-radius: 100%;
    background: #fff;
  }

  .btn-next {
    position: absolute;
    left: 67%;
    top: 33%;
    z-index: 5;
  }
  .article__featured-image-link {
    width:100%;
    {% comment %} width: 586px; {% endcomment %}
  }
  .article__featured-image-wrapper {
    position:relative;
    width:100%;
    {% comment %} width: 586px; {% endcomment %}
    overflow: hidden;
  }
  .article__featured-image {
    border-radius: 25px;
  }
  .blog_swiper {
    position: relative;
    overflow: hidden;
  }
  .swiper-slide {
    opacity: 0.5;
     
  }
  .swiper-slide-active {
    opacity: 1;
  }
  
  @media (max-width:900px) {
    .btn-prev {
      left: 2%;
    }
    .btn-next {
      left: 89%;
    }
  }
  @media (max-width:768px) {
    .btn-prev {
      left: 2%;
    }
    .btn-next {
      left: 89%;
    }
  }
  @media (max-width: 500px) {
    .article__featured-image-link{
    width:100%}
    .article__featured-image-wrapper {
      width:90%;
      margin:0 auto;
    }
    .article__featured-image{
     width:100%;
    }
    .btn-prev {
      position: absolute;
      left: 0%;
      top: 21%;
      z-index: 5;
    }
    .btn-next {
      position: absolute;
      left: 82%;
      top: 21%;
      z-index: 5;
    }
  }

</style>
<script>
  $(function(){
    $(".featured-blog__post").hover(function(){
      {% comment %} $('.rte--indented-images').css("display",'block') {% endcomment %}
      $($(this).context.children[2]).css({'opacity':1}) //只隐藏当前hover的对象
      $(this).find('.image_mask').css("opacity",'0.5');
        {% comment %} var imgHeight=$('.article__featured-image-wrapper .article__featured-image').height() {% endcomment %}
      {% comment %} $($(this).context.children[1]).css({"opacity":'0.5',"height":`${imgHeight}px`}) {% endcomment %}
    },function(){
      $('.rte--indented-images').css("opacity",0)
      $('.image_mask').css("opacity",'0');
      {% comment %} $($(this).context.children[1]).css("opacity",'0') {% endcomment %}
      {% comment %} $(this).css("filter",'brightness(100%)') {% endcomment %}
      {% comment %} $(".product_list").css("display",'none') {% endcomment %}
    })
    $("#btn-prev").hover(function(){
      $(this).children('svg').css({'background':'#f47e28','fill':'#fff'})
    },function(){
      $(this).children('svg').css({'background':'#fff ','fill':'#f47e28'})
    })
    $("#btn-next").hover(function(){
      $(this).children('svg').css({'background':'#f47e28','fill':'#fff'})
    },function(){
      $(this).children('svg').css({'background':'#fff ','fill':'#f47e28'})
    })
     
  })
</script>
<script>
  var mySwiper = new Swiper('.blog_swiper', {
    freeMode: true,
    circular:true,
    loopPreventsSlide: true,//默认true，阻止
    navigation: {
      nextEl: '.btn-next',
      prevEl: '.btn-prev',
    },
    loop:true,
    slidesPerView : 3,
    {% comment %} spaceBetween :55, {% endcomment %}
    centeredSlides: true, //活动块居中
    {% comment %} autoplay: {
    delay: 2000,
    } {% endcomment %}
    breakpoints: {
      320: {  //当屏幕宽度大于等于320
        slidesPerView: 1,
        spaceBetween: 10
      },
      768: {  //当屏幕宽度大于等于768 
        slidesPerView: 1.5,
        spaceBetween: 40
      },
      1280: {  //当屏幕宽度大于等于1280
        slidesPerView: 2.8,
        spaceBetween: 120
      }
      {% comment %} 320: {  
        slidesPerView: 1.25,
        spaceBetween:0,
      },
      768: {  
        slidesPerView: 1.25,
        spaceBetween: 15
      },
      820: {  
        slidesPerView: 1.3,
        spaceBetween: 12
      },
      1280: { 
        slidesPerView: 1.8,
        spaceBetween:20,
      },
      1920:{
        slidesPerView: 3,
        spaceBetween:120
      } {% endcomment %}
    }
  })
</script>

{% schema %}
{
  "name": {
    "cs": "Příspěvky na blogu",
    "da": "Blogopslag",
    "de": "Blog-Beiträge",
    "en": "Blog posts",
    "es": "Entradas del blog",
    "fi": "Blogijulkaisut",
    "fr": "Articles de blog",
    "it": "Articoli del blog",
    "ja": "ブログ記事",
    "ko": "블로그 게시물",
    "nb": "Blogginnlegg",
    "nl": "Blogberichten",
    "pl": "Posty na blogu",
    "pt-BR": "Posts do blog",
    "pt-PT": "Publicações no blogue",
    "sv": "Blogginlägg",
    "th": "โพสต์บล็อก",
    "tr": "Blog gönderileri",
    "vi": "Bài viết blog",
    "zh-CN": "博客文章",
    "zh-TW": "網誌文章"
  },
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": {
        "cs": "Nadpis",
        "da": "Overskrift",
        "de": "Überschrift",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "Titre",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pl": "Nagłówek",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "tr": "Başlık",
        "vi": "Tiêu đề",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
      "default": {
        "cs": "Blog",
        "da": "Blog",
        "de": "Blog",
        "en": "Blog",
        "es": "Blog",
        "fi": "Blogi",
        "fr": "Blog",
        "it": "Blog",
        "ja": "ブログ",
        "ko": "블로그",
        "nb": "Blogg",
        "nl": "Blog",
        "pl": "Blog",
        "pt-BR": "Blog",
        "pt-PT": "Blogue",
        "sv": "Blogg",
        "th": "บล็อก",
        "tr": "Blog",
        "vi": "Blog",
        "zh-CN": "博客",
        "zh-TW": "網誌"
      }
    },
    {
      "id": "blog",
      "type": "blog",
      "label": {
        "cs": "Blog",
        "da": "Blog",
        "de": "Blog",
        "en": "Blog",
        "es": "Blog",
        "fi": "Blogi",
        "fr": "Blog",
        "it": "Blog",
        "ja": "ブログ",
        "ko": "블로그",
        "nb": "Blogg",
        "nl": "Blog",
        "pl": "Blog",
        "pt-BR": "Blog",
        "pt-PT": "Blogue",
        "sv": "Blogg",
        "th": "บล็อก",
        "tr": "Blog",
        "vi": "Blog",
        "zh-CN": "博客",
        "zh-TW": "網誌"
      }
    },
    {
      "type": "range",
      "id": "post_limit",
      "label": {
        "cs": "Příspěvky",
        "da": "Opslag",
        "de": "Beiträge",
        "en": "Posts",
        "es": "publicaciones",
        "fi": "Julkaisut",
        "fr": "Articles de blog",
        "it": "Articoli",
        "ja": "投稿",
        "ko": "게시물",
        "nb": "Innlegg",
        "nl": "Berichten",
        "pl": "Posty",
        "pt-BR": "posts",
        "pt-PT": "Publicações",
        "sv": "Inlägg",
        "th": "โพสต์",
        "tr": "Gönderiler",
        "vi": "Bài viết",
        "zh-CN": "文章",
        "zh-TW": "貼文"
      },
      "min": 1,
      "max": 15,
      "step": 1,
      "default": 3
    },
    {
      "type": "checkbox",
      "id": "blog_show_date",
      "label": {
        "cs": "Zobrazit datum",
        "da": "Vis dato",
        "de": "Datum anzeigen",
        "en": "Show date",
        "es": "Mostrar fecha",
        "fi": "Näytä päivämäärä",
        "fr": "Afficher la date",
        "it": "Mostra data",
        "ja": "日付を表示する",
        "ko": "날짜 표시",
        "nb": "Vis dato",
        "nl": "Datum weergeven",
        "pl": "Pokaż datę",
        "pt-BR": "Exibir data",
        "pt-PT": "Mostrar data",
        "sv": "Visa datum",
        "th": "แสดงวันที่",
        "tr": "Tarihi göster",
        "vi": "Hiển thị ngày",
        "zh-CN": "显示日期",
        "zh-TW": "顯示日期"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "blog_show_author",
      "label": {
        "cs": "Zobrazit autora",
        "da": "Vis forfatter",
        "de": "Verfasser anzeigen",
        "en": "Show author",
        "es": "Mostrar autor",
        "fi": "Näytä tekijä",
        "fr": "Afficher l'auteur",
        "it": "Mostra autore",
        "ja": "執筆者を表示する",
        "ko": "작성자 표시",
        "nb": "Vis forfatter",
        "nl": "Auteur weergeven",
        "pl": "Pokaż autora",
        "pt-BR": "Exibir autor",
        "pt-PT": "Mostrar autor",
        "sv": "Visa författare",
        "th": "แสดงผู้เขียน",
        "tr": "Yazarı göster",
        "vi": "Hiển thị tác giả",
        "zh-CN": "显示作者",
        "zh-TW": "顯示作者"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "blog_show_image",
      "label": {
        "cs": "Zobrazit titulní obrázek",
        "da": "Vis coverbillede",
        "de": "Titelbild anzeigen",
        "en": "Show cover image",
        "es": "Mostrar imagen de portada",
        "fi": "Näytä kansikuva",
        "fr": "Afficher l'image de couverture",
        "it": "Mostra immagine di copertina",
        "ja": "カバー画像を表示する",
        "ko": "커버 이미지 표시",
        "nb": "Vis forsidebilde",
        "nl": "Coverafbeelding weergeven",
        "pl": "Pokaż obraz w tle",
        "pt-BR": "Exibir imagem da capa",
        "pt-PT": "Mostrar imagem da capa",
        "sv": "Visa omslagsbild",
        "th": "แสดงรูปภาพหน้าปก",
        "tr": "Kapak görselini göster",
        "vi": "Hiển thị ảnh bìa",
        "zh-CN": "显示封面图片",
        "zh-TW": "顯示封面圖片"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "blog_show_excerpt",
      "label": {
        "cs": "Zobrazit úryvek",
        "da": "Vis uddrag",
        "de": "Auszug anzeigen",
        "en": "Show excerpt",
        "es": "Mostrar extracto",
        "fi": "Näytä ote",
        "fr": "Afficher l'extrait",
        "it": "Mostra riassunto",
        "ja": "抜粋を表示する",
        "ko": "요약 표시",
        "nb": "Vis utdrag",
        "nl": "Uittreksel weergeven",
        "pl": "Pokaż fragment",
        "pt-BR": "Exibir resumo",
        "pt-PT": "Mostrar resumo",
        "sv": "Visa utdrag",
        "th": "แสดงเนื้อหาบางส่วน",
        "tr": "Alıntıyı göster",
        "vi": "Hiển thị đoạn trích",
        "zh-CN": "显示摘录",
        "zh-TW": "顯示摘要"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "label": {
        "cs": "Zobrazit tlačítko Zobrazit vše",
        "da": "Vis knappen \"Se flere\"",
        "de": "Schaltfläche \"Alle anzeigen\" anzeigen",
        "en": "Show 'View all' button",
        "es": "Mostrar el botón 'Ver todo'",
        "fi": "Näytä \"Näytä kaikki\" -painike",
        "fr": "Afficher le bouton « Tout afficher »",
        "it": "Mostra il pulsante \"Visualizza tutto\"",
        "ja": "「すべて表示」ボタンを表示する",
        "ko": "'모두 보기' 버튼 표시",
        "nb": "Vis «Se alle»-knapp",
        "nl": "Knop 'Alles weergeven' weergeven",
        "pl": "Pokaż przycisk „Wyświetl wszystkie”",
        "pt-BR": "Exibir botão 'Ver tudo'",
        "pt-PT": "Mostrar botão 'Ver tudo'",
        "sv": "Visa \"Visa alla\"-knappen",
        "th": "แสดงปุ่ม 'ดูทั้งหมด'",
        "tr": "\"Tümünü görüntüle\" düğmesini göster",
        "vi": "Hiển thị nút \"Xem tất cả\"",
        "zh-CN": "显示“查看全部”按钮",
        "zh-TW": "顯示「檢視全部」按鈕"
      },
      "default": false
    }
  ],
  "presets": [
    {
      "name": {
        "cs": "Příspěvky na blogu",
        "da": "Blogopslag",
        "de": "Blog-Beiträge",
        "en": "Blog posts",
        "es": "Entradas del blog",
        "fi": "Blogijulkaisut",
        "fr": "Articles de blog",
        "it": "Articoli del blog",
        "ja": "ブログ記事",
        "ko": "블로그 게시물",
        "nb": "Blogginnlegg",
        "nl": "Blogberichten",
        "pl": "Posty na blogu",
        "pt-BR": "Posts do blog",
        "pt-PT": "Publicações no blogue",
        "sv": "Blogginlägg",
        "th": "โพสต์บล็อก",
        "tr": "Blog gönderileri",
        "vi": "Bài viết blog",
        "zh-CN": "博客文章",
        "zh-TW": "網誌文章"
      },
      "category": {
        "cs": "Blog",
        "da": "Blog",
        "de": "Blog",
        "en": "Blog",
        "es": "Blog",
        "fi": "Blogi",
        "fr": "Blog",
        "it": "Blog",
        "ja": "ブログ",
        "ko": "블로그",
        "nb": "Blogg",
        "nl": "Blog",
        "pl": "Blog",
        "pt-BR": "Blog",
        "pt-PT": "Blogue",
        "sv": "Blogg",
        "th": "บล็อก",
        "tr": "Blog",
        "vi": "Blog",
        "zh-CN": "博客",
        "zh-TW": "網誌"
      },
      "settings": {
        "blog": "News"
      }
    }
  ]
}
{% endschema %}
